#domain:{{ domain }}
#proxy:{{ proxy }}
http://{{ domain }} {
	proxy / {{ proxy }} {
		transparent
		fail_timeout 1s
		max_fails 0
	}
}

# https://{{ domain }} {
# 	proxy / {{ proxy }} {
# 		transparent
# 		fail_timeout 1s
# 		max_fails 0
# 	}
# }
