<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer/DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>marina.port-forwarding</string>
		<key>Program</key>
		<string>/sbin/pfctl</string>
		<key>ProgramArguments</key>
		<array>
			<string>/sbin/pfctl</string>
			<string>-e</string>
			<string>-f</string>
			<string>/etc/pf-marina.conf</string>
		</array>
		<key>RunAtLoad</key>
		<true/>
		<key>ServiceDescription</key>
		<string>Marina Port Forwarding</string>
		<key>StandardErrorPath</key>
		<string>/var/log/marina.port-forwarding.log</string>
		<key>StandardOutPath</key>
		<string>/var/log/marina.port-forwarding.log</string>
	</dict>
</plist>
